.section-header {
	.menu-item__link {
		position: relative;

		&:before {
			content: "";
			opacity: 0;
			transition: opacity .2s ease;
			position: absolute;
			display: block;
			width: 7px;
			height: 7px;
			background-color: #424242;
			top: calc(50% - 3px);
			transform: translateY(-50%);
			border-radius: 99px;
		}

		&.nuxt-link-exact-active {
			&:before {
				opacity: 1;
			}
		}
	}
}
