/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/public/client
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.DS_Store
docker-compose.override.yml
npm-debug.log
yarn-error.log
