
#template_contacts {
	padding-top: 176px;
	min-height: 100vh;

	@media (max-width: 880px) {
		padding-top: 100px;
	}
	.page-title {
		font-size: 7rem;
		color: $black;
		font-weight: 600;

		@media (max-width: 880px) {
			font-size: 4rem;
		}
		@media (max-width: 490px) {
			font-size: 3rem;
		}
	}
	.typed {
		display: flex;

		.typed-cursor {
			font-weight: 600;
			font-size: 7rem;

			@media (max-width: 880px) {
				font-size: 4rem;
			}
			@media (max-width: 490px) {
				font-size: 3rem;
			}
		}
	}
	.email {
		margin-top: 20px;
		font-size: 2rem;
		text-decoration: underline;
		font-weight: 600;
	}
	.phone {
		margin-top: 5px;
		font-size: 2rem;
		font-weight: 600;
	}
	.social-media {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-top: 20px;

		a {
			font-size: 1.2rem;
			font-weight: 500;
			margin-right: 20px;
			margin-top: 10px;

			&.fb {
				color: #5d82d1;
			}
			&.in {
				color: transparent;
				background: radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
				background: -webkit-radial-gradient(circle at 20% 130%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-transition: all 0.3s ease-in-out;
				transition: all 0.3s ease-in-out;
				background-size: 120% 120%;
			}
			&.tw {
				color: #40bff5;
			}
			&.ln {
				color: #238cc8;
			}
		}
	}

	.addresses {
		display: flex;

		.address-item {
			width: 100%;
			max-width: 352px;

			.item-title {
				margin-bottom: 24px;
			}
			.details {
				color: #a1a1a8;
				font-size: .875rem;
				line-height: 1.6;

				p, address {
					margin-bottom: 16px;
				}
			}
			.btn-view-address {
				svg {
					margin-left: 16px;
				}
			}
			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}
}