#template_contactForm {
	padding-top: 100px;

	.section-header {
		text-align: left;

		.desc {
			line-height: 1.6;
			margin-top: 10px;
			color: $grey;
			font-size: 1.1rem;
		}
	}
	.contact-form {
		max-width: 965px;

		.row {
			display: flex;
			margin: 0 -15px;
			margin-top: 20px;
			margin-bottom: 16px;

			@media (max-width: 620px) {
				margin: 0;
				display: block;
			}

			& > * {
				margin: 0 15px;

				@media (max-width: 620px) {
					margin: 0;
				}
			}
		}
		.form-control {
			display: block;
			width: 100%;
			border-bottom: 1px solid #dfe0e5;
			padding: 8px 0;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.6;
			color: $black;
			transition: border .2s ease;

			&:focus {
				border-bottom-color: $red;
			}
		}
		textarea {
			min-height: 60px;
		}
		.form-group {
			display: block;
			width: 100%;
			position: relative;

			@media (max-width: 620px) {
				margin: 15px 0;
			}
		}
	}
}