
#template_policy {
	padding-top: 100px;

	.section-header {
		text-align: left;

		.comic-text {
			font-size: 3rem;
			margin-bottom: 0;

			@media (max-width: 880px) {
				font-size: 2rem;
			}
		}
	}
	.legal-text {
		h2 {
			font-weight: 600;
			font-size: 2rem;
			color: #373838;
			margin-top: 40px;
			margin-bottom: 20px;

			@media (max-width: 880px) {
				font-size: 1.7rem;
			}
		}
		h3 {
			font-weight: 600;
			font-size: 1.3rem;
			color: #373838;
			
			margin-bottom: 25px;

			&:not(:first-child) {
				margin-top: 30px;
			}
		}
		p, ul {
			font-weight: 400;
			color: #373838;
			line-height: 1.5;
			margin-bottom: 16px;
		}
		ul {
			list-style: disc;
			list-style-position: inside;
			padding-left: 20px;
		}
	}
}