#template_promo {
	position: relative;

	.jinudio {
		display: flex;justify-content: space-between;align-items: center;margin-top: 50px; margin-bottom: -60px;

		@media (min-width: 500px) {
			display: block;
			text-align: center;
		}
	}

	.swipe-to-slide {
		width: 40px;display: block;margin-top: 15px;

		@media (min-width: 500px) {
			display: none !important;
		}
	}

	.section_feedback {
		margin: 100px 0;
		position: relative;

		.black-block {
			background-color: #19191c;
			padding: 70px 0;
			padding-left: 70px;
			padding-right: 150px;
			position: relative;
			overflow: hidden;
			position: relative;
			box-shadow: 0 40px 0 -20px #ea110c, 0 -40px 0 -20px #ea110c;

			@media (max-width: 660px) {
				box-shadow: 0 30px 0 -20px #ea110c;
				padding-left: 40px;
				padding-right: 40px;
				margin: 0 -20px;
			}
		}
		.or {
			margin-top: 70px;

			.title {
				font-size: 1.6rem;
				font-weight: 500;
			}
			.row {
				max-width: 700px;
				margin-top: 40px;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 40px;

				@media (max-width: 573px) {
					grid-template-columns: 1fr;
					grid-gap: 20px;
				}
			}
			.btn {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
				font-size: 1.2rem;
				font-weight: 500;
				height: 65px;

				&.green {
					background-color: #00db74;
					animation: pulse-green 1.9s ease infinite 1s;

					@keyframes pulse-green {
						0% {
							box-shadow: 0 0 0 0 #00db74;
						}
						30% {
							box-shadow: 0 0 0 14px rgba(#00db74, 0);
						}
					}
				}
				&.blue {
					background-color: #00a7e7;
					animation: pulse-blue 2s ease infinite;

					@keyframes pulse-blue {
						0% {
							box-shadow: 0 0 0 0 #00a7e7;
						}
						30% {
							box-shadow: 0 0 0 14px rgba(#00a7e7, 0);
						}
					}
				}
				&.purple {
					background-color: #6a5bb0;
					animation: pulse-purple 2.1s ease infinite 1s;

					@keyframes pulse-purple {
						0% {
							box-shadow: 0 0 0 0 #6a5bb0;
						}
						30% {
							box-shadow: 0 0 0 14px rgba(#6a5bb0, 0);
						}
					}
				}
			}
		}
		.decorative {
			width: 270px;
			position: absolute;
			top: -76px;
			right: -30px;
			filter: invert(100%);
			z-index: 1;

			@media (max-width: 660px) {
				display: none;
			}
		}
		.text-red {
			color: #ea110c;
		}
		h2 {
			font-weight: 600;
			font-size: 2.8rem;
			color: #fff;

			@media (max-width: 670px) {
				font-size: 2rem;
			}
		}
		form {
			display: grid;
			grid-template-columns: 1fr 1fr auto;
			grid-gap: 30px;
			max-width: 800px;
			margin-top: 50px;

			.btn {
				padding: 22px 40px;
				font-size: 1.3rem;
				position: relative;
				z-index: 2;
				animation: pulse 2s ease infinite 1s;

				@keyframes pulse {
					0% {
						box-shadow: 0 0 0 0 #ea110c;
					}
					30% {
						box-shadow: 0 0 0 14px rgba(#ea110c, 0);
					}
				}
			}
			@media (max-width: 899px) {
				grid-template-columns: 1fr;
			}
		}
		.form-control1 {
			border: none;
			outline: none;
			display: block;
			width: 100%;
			border: none;
			padding: 17px 30px;
			line-height: 1.6;
			color: #000;
			transition: border .2s ease;
			background-color: #fff;
			font-size: 1.3rem;
			border-radius: 0;
		}
		.success-popup {
			z-index: 10000000;
			display: flex;
			align-items: center;
			justify-content: center;

			&, .backdrop {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			.backdrop {
				z-index: 1;
				background-color: rgba(#000, 70%);
			}
			.popup-body {
				position: relative;
				z-index: 2;
				background-color: #fff;
				padding: 40px;
				text-align: center;
			}
			.icon {
				width: 70px;
				height: 70px;
				border-radius: 9999px;
				margin-top: -20px;
				background-color: #70C341;
				color: #fff;
				display: inline-flex;
				align-items: center;
				justify-content: center;

				svg {
					width: 50%;
				}
			}
			.popup-title {
				font-size: 2rem;
				margin-top: 20px;
				font-weight: 300;
			}
			p {
				margin-top: 20px;
				font-size: 1.3rem;
			}
			.btn-green {
				padding-left: 50px;
				padding-right: 50px;
				margin: 0 auto;
				color: #fff;
				margin-top: 30px;
				background-color: #70C341;
				font-size: 1.2rem;
			}
		}
	}
	.section_ourPrinciples {
		.section-body {
			padding: 80px 20px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 40px;

			@media (max-width: 1111px) {
				grid-template-columns: 1fr;
			}
		}

		.section-title {
			@media (max-width: 666px) {
				font-size: 2.7rem;
				line-height: 1.3;
			}
		}
		.list li {
			display: grid;
			align-items: flex-start;
			grid-template-columns: auto 1fr;
			margin-bottom: 30px;
			min-height: 113px;

			@media (max-width: 666px) {
				margin-left: -20px;
			}
			.num {
				width: 103px;
				margin-right: 40px;
				font-size: 5rem;
				color: transparent;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: #d2d3d8;
				font-weight: 600;
				line-height: 1;
				text-align: right;

				@media (max-width: 666px) {
					margin-right: 20px;
				}
			}
			.item-title {
				font-size: 1.5rem;
				margin-bottom: 10px;
				font-weight: 500;
			}
			.item-desc {
				color: grey;
				line-height: 1.6;
			}
		}
	}
	.idontknowhownameit {
		text-align: center;

		p {
			margin: 0 auto;
			font-size: 1.4rem;
			line-height: 1.6;
			max-width: 700px;
			margin-top: 20px;
			color: darken(grey, 20%);
		}
	}
}