#template_services {
	padding-top: 100px;
	overflow: hidden;

	.section-welcome {
		padding-top: 100px;
		position: relative;

		@media (max-width: 880px) {
			padding-top: 0;
		}
		.text {
			max-width: 850px;

			.title {
				font-weight: 600;
				font-size: 5rem;
				line-height: 1;

				@media (max-width: 880px) {
					font-size: calc(2.2rem + 2.4vw);
				}
			}
			.plain-text {
				line-height: 1.6;
				color: $grey;
				font-size: 1.1rem;
				margin-top: 40px;
			}
			.btn {
				margin-top: 30px;
			}
		}
		.decorative {
			position: absolute;
			top: 30%;
			right: 50px;
			transform: rotate(340deg);

			@media (max-width: 880px) {
				display: none;
			}
		}
	}
	.lets-create-what-people-want {
		margin-top: 100px;
		padding-bottom: 70px;

		
	}
}