#template_vacancies {
	padding-top: 100px;
	position: relative;

	.section-header {
		text-align: left;

		.comic-text {
			font-size: 3rem;
			margin-bottom: 0;

			@media (max-width: 880px) {
				font-size: 2.4rem;
			}
		}
	}
	.section-body {
		p {
			font-size: 1.1rem;
			line-height: 1.6;
			color: $grey;
		}
		.have-not-vacancies {
			margin-top: 20px;
			color: $red;
		}
	}
	.dotted-pattern {
		position: relative;
		margin-top: 80px;
		background-image: radial-gradient(#19191c 10%, transparent 0), radial-gradient(#19191c 10%, transparent 0);
		background-size: 7px 5px;
		background-position: 11px 13px, 0px 6px;
		background-repeat: repeat;
		height: 20px;
	}
}