#template_vacancies {
	padding-top: 100px;

	.section-header {
		text-align: left;

		.comic-text {
			font-size: 3rem;
			margin-bottom: 0;

			@media (max-width: 880px) {
				font-size: 2.4rem;
			}
		}
	}
	.section-body {
		p {
			font-size: 1.1rem;
			line-height: 1.6;
			color: $grey;
		}
		.have-not-vacancies {
			margin-top: 20px;
			color: $red;
		}
	}
}