
html {
	font-family: 'TTNorms', sans-serif;
}

body {
	background-color: $bodyBg;
	color: $black;
}

::selection {
	color: #fff;
	background: #ea110c;
}

.container {
	width: 100%;
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 20px;
}

.color-red {
	color: $red;
}
.text-blue {
	color: $blue;
}
.red-highlight {
	display: inline-block;
	color: #fff;
	position: relative;
	z-index: 2;

	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		bottom: -4px;
		background-color: $red;
		z-index: -1;
	}
}
.red-underline {
	position: relative;

	&:after {
		position: absolute;
		content: "";
		display: block;
		height: 12px;
		left: 0;
		right: 0;
		bottom: 4px;
		background-color: $red;
		opacity: .5;
		z-index: -1;
	}
}

.section-header {
	text-align: center;
	margin: 40px auto;

	@media (max-width: 880px) {
		text-align: left;
	}
	
}
.comic-text {
	font-size: 3.2rem;
	font-family: "Reenie Beanie", cursive;
	color: #a1a1a8;
	margin-bottom: 13px;
}
.section-title {
	color: #373838;
	font-size: 4rem;

	@media (max-width: 880px) {
		font-size: calc(2.2rem + 2.4vw);
	}
}

.section-title, .section-red-title {
	font-weight: 600;

	@media (max-width: 880px) {
		line-height: 1;
	}
}
.section-description {
	margin-top: 30px;
	color: $black;
	font-size: 1.1rem;
	line-height: 1.5;

	@media (max-width: 880px) {
		font-size: 1rem;
	}
}


.page-content {
	position: relative;
	min-height: 80vh;
	background-color: $body-bg;
	// margin-bottom: 420px;
	padding-bottom: 100px;

	@media (max-width: 880px) {
		// margin-bottom: 1047px;
	}
}


.page-enter-active,
.page-leave-active {
	transition: opacity .2s ease;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999999;
	transition: transform .4s ease;

	&.hidden {
		transform: translateY(100%);
	}
}

.amo-button-holder {
	right: 30px !important;
	bottom: 30px !important;

	@media (max-width: 800px) {
		right: 20px !important;
		bottom: 20px !important;
	}
}

.dotted-pattern {
	position: relative;
	margin-top: 80px;
	background-image: radial-gradient(#19191c 10%, transparent 0), radial-gradient(#19191c 10%, transparent 0);
	background-size: 7px 5px;
	background-position: 11px 13px, 0px 6px;
	background-repeat: repeat;
	height: 20px;
}

@import "./sections/header.scss";
@import "./sections/footer.scss";
@import "./sections/portfolio.scss";
@import "./sections/parallax.scss";
@import "./sections/services-range.scss";