
html {
	font-family: 'TTNorms', sans-serif;
}

body {
	background-color: $bodyBg;
	
}

::selection {
	color: #fff;
	background: #ea110c;
}

.container {
	width: 100%;
	max-width: 1310px;
	margin: 0 auto;
	padding: 0 20px;
}

.color-red {
	color: $red;
}
.text-blue {
	color: $blue;
}

.section-header {
	text-align: center;
	margin: 40px auto;

	@media (max-width: 880px) {
		text-align: left;
	}
}
.section-title {
	color: #373838;
}

.section-title, .section-red-title {
	font-size: 2.5rem;
	font-weight: 600;

	@media (max-width: 880px) {
		line-height: 1;
	}
}
.section-red-title {
	text-shadow: 1px 1px 0 $red;
	font-weight: 600;
	font-size: 4rem;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $black;
	transition: color .3s ease-in-out;

	@media (max-width: 880px) {
		font-size: calc(2.2rem + 2.4vw);
	}
}
.section-description {
	margin-top: 30px;
	color: $black;
	font-size: 1.1rem;
	line-height: 1.5;

	@media (max-width: 880px) {
		font-size: 1rem;
	}
}


.page-content {
	min-height: 100vh;
	background-color: $body-bg;
	// margin-bottom: 420px;
	padding-bottom: 100px;

	@media (max-width: 880px) {
		// margin-bottom: 1047px;
	}
}


.page-enter-active,
.page-leave-active {
	transition: opacity .2s ease;
}
.page-enter,
.page-leave-to {
	opacity: 0;
}

@import "./sections/header.scss";
@import "./sections/footer.scss";
@import "./sections/portfolio.scss";
@import "./sections/parallax.scss";