
* {
	box-sizing: border-box;
}

body {
	cursor: default;
	overflow-y: scroll;
}

body, p, ul, h1, h2, h3, h4, h5, h6, button, input {
	margin: 0;
	padding: 0;
}

img {
	pointer-events: none;
	user-select: none;
}

div {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

header, footer, section {
	display: block;
	width: 100%;
}

ul {
	list-style: none;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

button, input[type="button"], input[type="submit"] {
	background: none;
	box-shadow: none;
	border: none;
	outline: none;
	border-radius: 0;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

address {
	font-style: normal;
	line-height: inherit;
}

%form-control-reset {
	background: none;
	box-shadow: none;
	border: none;
	outline: none;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}