
$red: #f94359;
// $blue: #99dbff;
$blue: #2298ff;
$blueGradient: linear-gradient(130deg, #00cfff, #485bff);
$red: #ea110c;
$redDarken: #c70e0a;
$black: #19191c;
$grey: #a1a1a8;
$lightGrey: #a1a1a8;
$light-grey: #f7f8f9;

$bodyBg: #fff;
$body-bg: #fff;