.form {
	&-label {
		transition: transform .25s ease;
		transform-origin: 0;
		will-change: transform;
	}

	&-label.on-focus,
	&-control-wrapper:focus-within &-label {
		transform: translateY(calc(-50% - 7px)) scale(.9);
	}

	&-control-wrapper:focus-within &-control-underline.focus {
		transform: scaleX(1);
	}

	&-control {
		@apply block w-full py-2 font-extralight tracking-wider;

		&-underline {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			transform-origin: 0;

			&.default {
				z-index: 1;
				background-color: theme('colors.gray.400');
			}
			&.focus {
				z-index: 2;
				background-color: theme('colors.white');
				transform: scaleX(0);
				transition: transform .4s ease;
			}
		}
	}
}

.input-file {
	cursor: pointer;
}
