<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		Options -MultiViews -Indexes
	</IfModule>

	RewriteEngine On

	# Handle authorization header
	RewriteCond %{HTTP:Authorization} .
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

	# Redirect to secure protocol (https)
	RewriteCond %{HTTPS} off
	RewriteCond %{HTTP:X-Forwarded-Proto} !https
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

	# Redirect no trailing slashes if not a folder (for aesthetic view of URI)
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)/$ /$1 [L,R=301]

	# Redirect trailing www
	RewriteCond %{HTTP_HOST} ^www [NC]
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

	# throw 404 http code if URI starts from "/dist"
	RewriteCond %{THE_REQUEST} \s/dist
	RewriteRule ^ - [L,R=404]

	# Send all api requests to front controller...
	RewriteCond %{REQUEST_URI} ^/h
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L]

	# Apache need trailing slash if URI doesn't look like file
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !(\..+[^/]$)
	RewriteRule ^(.*[^/])$ /$1/

	# Rewrite all requests to dist folder if it not file
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !/dist
	RewriteRule ^(.*)$ /dist/$1 [L,NC,QSA]
</IfModule>
