<IfModule mod_rewrite.c>
	<IfModule mod_negotiation.c>
		Options -MultiViews -Indexes
	</IfModule>

	RewriteEngine On

	# Redirect to secure protocol (https)
	RewriteCond %{HTTP:X-Forwarded-Proto} !https
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

	# Redirect no trailing slashes if not a folder (for aesthetic view of URI)
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)/$ /$1 [L,R=301]

	# throw 404 http code if URI starts from "/dist"
	RewriteCond %{THE_REQUEST} \s/dist
	RewriteRule ^ - [L,R=404]

	# Apache need trailing slash if URI doesn't look like file
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !(\..+[^/]$)
	RewriteRule ^(.*[^/])$ /$1/

	# Rewrite all requests to dist folder if it not file
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !/dist
	RewriteRule ^(.*)$ /dist/$1 [L,NC,QSA]
</IfModule>
