.cursor-dot, .cursor-dot-outline {
	z-index: 100000;
	pointer-events: none;
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

	@media (pointer: coarse) {
		display: none;
	}
}

.cursor-dot {
	$size: 6px;
	width: $size;
	height: $size;
	background-color: $red;
}

.cursor-dot-outline {
	$size: 30px;
	width: $size;
	height: $size;
	background-color: rgba($red, 0.5);
}