#section_footer {
	background-color: $black;
	padding-top: 72px;
	color: $lightGrey;
	font-size: .9rem;
	z-index: -1;

	.top {
		.columns {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 30px;
			border-bottom: 1px solid rgba(#fff, .1);
			padding-bottom: 48px;

			@media (max-width: 1230px) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (max-width: 715px) {
				grid-template-columns: 1fr;
			}
		}
		.column-title {
			color: #fff;
			font-weight: 500;
			font-size: 1.3rem;
			margin-bottom: 24px;
			letter-spacing: .01rem;
		}
		.logo {
			margin-bottom: 15px;

			img {
				height: 34px;
			}
		}
		.short-about-company {
			line-height: 1.6;
		}
		.social-media {
			display: flex;
			align-items: center;
			color: #fff;
			margin-top: 24px;

			.label {
				font-size: 1rem;
				font-weight: 500;
			}
			a {
				margin-left: 30px;
				transition: color .2s ease;

				&:hover {
					color: $red;
				}
			}
		}
		.office-address {
			line-height: 1.6;
			margin-bottom: 16px;

			.short-addr {
				color: #fff;
				margin-bottom: 8px;
			}
		}
		.link-list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 15px;

			.links-column {

			}
			.link-item {
				margin-bottom: 10px;

				a {
					line-height: 1.6;
					transition: color .2s ease;

					&:hover {
						color: #fff;
					}
				}
			}
		}
		.subscribe-form {
			label {
				display: block;
				line-height: 1.6;
				margin-bottom: 8px;
			}
			.form-group {
				margin-bottom: 16px;
			}
		}
	}
	.bottom {
		padding: 24px 0;
		line-height: 1.6;

		.row {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@media (max-width: 715px) {
				display: block;
				text-align: center;
			}
		}
		.legal-links {
			display: flex;
			justify-content: center;

			@media (max-width: 715px) {
				margin-top: 15px;
			}

			a {
				transition: color .2s ease;

				&:not(:last-child) {
					margin-right: 20px;
				}
				&:hover {
					color: #fff;
				}
			}
		}
	}
}