
#section_header {
	$height: 70px;
	position: fixed;
	top: 0;
	z-index: 100;

	.desktop {
		background-color: $black;

		.menu {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: $black;
			z-index: 1000;
			overflow: hidden;

			.close-btn {
				top: 48px;
				right: 48px;
				width: 40px;
				height: 40px;
				position: absolute;
				border-radius: 9999px;
				background-color: $red;
				transition: background-color .2s ease;
				color: #fff;
				z-index: 100;

				&:hover {
					background-color: $redDarken;
				}

				svg {
					width: 10px;
					height: 14px;
				}
			}
			.scrollable-content {
				padding: 48px 0;
				height: 100%;
				overflow: scroll;
				position: relative;

				.container {
					position: relative;
				}

				.link-list {
					padding-bottom: 80px;
				}
				.link-item {
					display: flex;
					align-items: flex-end;

					@media (max-width: 768px) {
						display: block;
					}
					a {
						padding: 5px 0;
						padding-right: 12px;
						line-height: 1.4;
						font-weight: 600;
						font-size: 4rem;
						color: transparent;
						-webkit-text-stroke-width: 1px;
						-webkit-text-stroke-color: #dfe0e5;
						transition: color .3s ease-in-out;

						@media (max-width: 880px) {
							font-size: calc(2.2rem + 2.4vw);
						}
						&.active, &.active-home-home, &.active-contacts-contacts {
							text-shadow: 1px 1px 0 $red;
						}
						&:hover {
							color: #fff;
						}
					}
					p {
						font-size: .9rem;
						margin-bottom: 24px;
						color: $lightGrey;
					}
					&:not(:last-child) {
						margin-bottom: 8px;
					}
				}
				.social-links {
					position: absolute;
					right: 0;
					top: 50%;
					display: flex;
					transform-origin: 80% center;
					transform: rotate(90deg);

					@media (max-width: 880px) {
						display: none;
					}

					a {
						padding: 7px 0;
						display: block;
						color: $lightGrey;
						font-size: .9rem;
						transition: color .2s ease;

						&:not(:last-child) {
							margin-right: 30px;
						}
						&:hover {
							color: #fff;
						}
					}
				}
				.menu-footer {
					position: absolute;
					left: 20px;
					right: 20px;
					bottom: 0px;
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					color: $lightGrey;

					@media (max-width: 880px) {
						display: none;
					}

					.documents-links, .contacts {
						font-size: .9rem;

						a {
							transition: color .2s ease;
							&:not(:last-child) {
								margin-right: 20px;
							}
							&:hover {
								color: #fff;
							}
						}
					}
					.company-name {
						// text-align: center;
						// color: #fff;
						margin-right: 20px;
						// font-size: 1rem;
					}
					.contacts {
						display: flex;
						justify-content: flex-end;
						align-items: center;
					}
				}
			}

			&.v-enter-active, &.v-leave-active {
				transition: bottom .5s ease;
			}
			&.v-enter, &.v-leave-to {
				bottom: 100%;
			}
		}
		.flex-content {
			display: flex;
			justify-content: space-between;
		}
		.menu-btn {
			padding: 0;
			margin: 0;
			margin-left: 30px;
			color: #fff;
			transition: color .15s ease;

			svg {
				width: 25px;
				height: 25px;
				margin-top: 4px;
			}
			&:hover {
				color: $red;
			}
			@media (max-width: 880px) {
				margin: 0;
			}
		}
		.left {
			display: flex;
			align-items: center;

			@media (max-width: 880px) {
				width: 100%;
				justify-content: space-between;
				flex-direction: row-reverse;
			}

			
			.logo {
				width: 132px;
				height: $height;
				display: flex;
				align-items: center;
				transition: color .3s ease;
				color: #fff;

				@media (max-width: 880px) {
					height: 55px;
				}

				svg, img {
					width: 132px;
					margin-bottom: 5px;

					#q {
						fill: #fff;
						transition: fill .3s ease;
					}
				}
			}
			.text {
				font-size: .9rem;
				margin-left: 15px;
				color: darken(#fff, 15%);

				@media (max-width: 880px) {
					display: none;
				}
			}
		}
		.right {
			display: flex;
			align-items: center;

			@media (max-width: 880px) {
				display: none;
			}

			.phone {
				color: #fff;
				font-weight: 500;
				font-size: 1.1rem;
				margin-right: 30px;
			}
			.langs {
				display: flex;
				margin-right: 30px;

				.lang {
					font-size: .9rem;
					color: #fff;

					&:not(:last-child) {
						margin-right: 15px;
					}
					&.active {
						text-decoration: underline;
					}
				}
			}
		}
	}
	&.white, &:not(.transparent-in-top) {
		

		.desktop {
			
		}
	}
	&.transparent-in-top {
		.desktop {
			transition: background-color .3s ease;
			background-color: transparent;
		}
		&.scrolled {
			.desktop {
				transition: background-color .3s ease;
				background-color: $black;
			}
		}
	}
}