#section_parallax {
	@media (max-width: 880px) {
		.container {
			padding: 0;
		}
	}
	.banner {
		padding: 128px 48px;
		position: relative;
		overflow: hidden;

		@media (max-width: 880px) {
			padding: 128px 20px;
		}

		.bg-parallax, .bg-overlay {
			position: absolute;
			top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		}
		.bg-parallax {
			width: 100%;
			height: 100%;
		    z-index: 1;

			.bg {
			    object-fit: cover;
			    display: block;
			    width: 100%;
			    height: 100%;
			}
		}
		.bg-overlay {
			z-index: 2;
			background-color: rgba(#000, .25);

			.decoration {
				position: absolute;
				top: -48px;
				right: -48px;
			}
		}
		.text {
			position: relative;
			z-index: 3;

			h2 {
				font-size: 3.5rem;
				font-weight: 600;
				color: #fff;
				margin-bottom: 128px;

				.blue-highlight {
					background-color: $red;
				}
				@media (max-width: 880px) {
					margin-bottom: 70px;
					font-size: calc(2.12rem + 1.44vw);

					br {
						display: none;
					}
				}
			}
			.banner-action {
				font-size: 1.2rem;
				font-weight: 500;
				animation: effect 4s ease infinite 1s;

				@keyframes effect {
					0% {
						box-shadow: 0 0 0 0 $red;
					}
					50% {
						box-shadow: 0 0 0 20px rgba($red, 0);
						// transform: translateY(0);
					}
				}
			}
		}
	}
}