#section_welcome {
	width: 100%;
	height: 100vh;
	min-height: 820px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;

	@media (max-width: 880px) {
		min-height: 660px;
	}

	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url("@/static/img/welcome-bg.png");
		z-index: -2;
	}
	.red-overlay {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 50%;
		background-color: $red;
		mix-blend-mode: multiply;
		z-index: -1;
	}
	.section-content {
		padding: 176px 20px;

		.text-1 {
			display: inline-block;
			background-color: #fff;
			line-height: 33px;
			font-size: 1.5rem;
			font-weight: 600;
			margin-bottom: 24px;
			margin-left: 4px;
			margin-top: 24px;
			padding-left: 8px;
			padding-right: 8px;

			@media (max-width: 880px) {
				font-size: 1.5rem;
			}
			@media (max-width: 410px) {
				font-size: 1.4rem;
			}
		}
		.text-2 {
			color: #fff;
			font-size: 7.875rem;
			line-height: 1;
			font-weight: 700;
			font-family: 'Spartan', sans-serif;

			.stroke-text {
				color: transparent;
				-webkit-text-stroke-width: 1px;
				-webkit-text-stroke-color: #fff;

				.br {
					@media (max-width: 880px) {
						display: none;
					}
				}
			}

			@media (max-width: 880px) {
				font-size: calc(2.5875rem + 7.05vw);
				line-height: 1.2;
			}
			@media (max-width: 622px) {
				font-size: calc(2.5875rem + 5vw);
			}
		}
		.text-3 {
			margin-top: 30px;
			color: #fff;
			font-size: 2.8rem;
			font-family: "Reenie Beanie", cursive;
		}
		.btn-primary {
			margin-top: 30px;
			background-color: $red;
			color: #fff;

			&:before, &:after {
				background: #fff;
			}

			&:hover {
				background-color: $redDarken;
			}
		}
	}
}