.ui-base-input {
	&__label {
		top: 13px;
		transition: transform .25s ease, opacity .25s ease;
		transform-origin: 0;
		will-change: transform;
	}

	&__underline {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 1px;
		transform-origin: 0;

		&.default {
			z-index: 1;
			background-color: theme('colors.gray.700');
		}

		&.focus {
			z-index: 2;
			background-color: theme('colors.gray.300');
			transform: scaleX(0);
			animation: input_underline_leave .4s ease forwards;
		}

		&.error {
			z-index: 3;
			background-color: theme('colors.red.500');
			transform: scaleX(0);
			animation: input_underline_leave .4s ease forwards;

			&.show {
				animation: input_underline_enter .4s ease forwards;
			}
		}

		&.success {
			z-index: 4;
			background-color: theme('colors.emerald.700');
			transform: scaleX(0);
			animation: input_underline_leave .4s ease forwards;

			&.show {
				animation: input_underline_enter .4s ease forwards;
			}
		}
	}

	&__input {
		display: block;
		width: 100%;
		padding: 8px 0;
		font-weight: 200;
		letter-spacing: .05rem;

		&:focus ~ .ui-base-input__underline.focus {
			animation: input_underline_enter .4s ease forwards;
		}

		@keyframes input_underline_enter {
			from { transform: scaleX(0); }
			to { transform: scaleX(1); }
		}
		@keyframes input_underline_leave {
			from {
				transform: scaleX(1);
				opacity: 1;
			}
			to {
				transform: scaleX(1);
				opacity: 0;
			}
		}
	}

	&__input:focus ~ .ui-base-input__label,
	.ui-base-input__label.at-top {
		transform: translateY(calc(-100% - 8px)) scale(.7);
		opacity: .7;
	}
}
