.container {
	&, &-sm, &-md, &-lg, &-xl {
		width: 100%;

		padding-left: .75rem;
		padding-right: .75rem;
		margin-left: auto;
		margin-right: auto;
	}

	&-lg {
		max-width: 960px;
	}

	&, &-xl {
		max-width: 1280px;

		@screen xl {
			max-width: 1024px;
		}
		@screen lg {
			max-width: 768px;
		}
		@screen md {
			max-width: 640px;
		}
		@screen sm {
			max-width: 100%;
		}
	}
}
